
section{
  padding-bottom: 4rem;
  padding-top: 4rem;
}

input, textarea{
  margin-bottom: 1rem;
}


.logo{
  width: 90px;
}

.nav-link{
  text-decoration: none;
  color: #795841;
}

.nav.link li :hover{
  background-color: #b5947d;
}


#Sobre{
  background-color: #5b3a23;
  box-shadow: #795841 0.3em 0.1em 0.3em;  
}

#Sobre h2, p{
  color: white;
}

.card{
  width: 80%;
  float: left;
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-color: #5b3a23;
  border: none;
}

#Produtos h5{
  color: #b5947d;
}

#Contato{
  background-color: #5b3a23;
  box-shadow: #795841 0.3em 0.1em 0.3em;
}

#Contato h2,p{
  color: #ffffff;
}
